spring:
  datasource:
    url: jdbc:h2:mem:moeda;MODE=MySQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

  thymeleaf:
    cache: false 

  h2:
    console:
      enabled: true

server:
  port: 8080
