<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Área do Professor - Moeda Estudantil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/professores-home.css">
</head>

<body>
    <div class="header">
        <div class="profile">
            <div class="profile-icon">
                <span>&#128100;</span>
            </div>
            <span th:text="${professor.nome}"></span>
        </div>
        <button class="logout-btn" th:onclick="|window.location='@{/logout}'|">Sair</button>
    </div>
    <div class="wrap">
        <h1>Área do Professor</h1>
        <p class="hello" th:text="'Olá, ' + ${professor.nome} + '!'" ></p>
        <div class="card-actions">
            <a class="action-card" th:href="@{/ui/professores/enviar}">
                <div class="action-icon">&#x1F4B0;</div>
                <div class="action-title">Enviar Moedas</div>
            </a>
            <a class="action-card" th:href="@{/ui/professores/extrato}">
                <div class="action-icon">&#128196;</div>
                <div class="action-title">Ver Extrato</div>
            </a>
        </div>
    </div>
</body>
</html>
